<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowball</title>
</head>
<body>
    <p>Accounts</p>
    <div id="app">
        <table>
            <th>
                <tr>
                    <td style="vertical-align: bottom;">Name</td>
                    <td style="vertical-align: bottom;">Balance</td>
                    <td style="vertical-align: bottom;">Interest<br>Rate</td>
                    <td style="vertical-align: bottom;">Minimum<br>Payment</td>
                    <td style="vertical-align: bottom;">Color</td>
                </tr>
            </th>
            <tr v-for="account in accounts">
                <td><input v-model="account.name"></td>
                <td>
                    <input type="number" step="any" v-model="account.inputBalance" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputInterestRate" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputMinimumPayment" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="color" v-model="account.backgroundColor">
                </td>
                <td>
                    <button v-on:click="removeAccount(account.id)">Remove</button>
                </td>
            </tr>
        </table>
        <button v-on:click="addAccount">Add New Account</button>

        <table style="margin:25px;">
            <tr>
                <td>
                    Monthly Budget:
                </td>
                <td>
                    <input type="number" v-model="monthlyBudget" style="width: 75px;">
                </td>
            </tr>
            <tr>
                <td>
                    - Total Minimum Payments:
                </td>
                <td>
                    {{ totalMinimumPayments | formatDollar }}
                </td>
            </tr>

            <tr>
                <td>
                    = Snowball Payment:
                </td>
                <td>
                    {{ monthlySnowballPayment | formatDollar }}
                </td>
            </tr>
        </table>

        <br>
            <table>
                <tr>
                    <td></td>
                    <td
                        :style="'text-align: right; padding-left: 10px; background-color:' + account.backgroundColor + ';'"
                        v-for="account in sortedAccounts">
                        <span style="font-size: x-small;">{{ account.name }}</span><br>
                        {{ account.balance | formatDollar }}
                    </td>
                    <td
                        style="text-align: right; padding-left: 10px; background-color: darkgray;">
                        <span style="font-size: x-small;">Total</span><br>
                        {{ totalBalance | formatDollar }}
                    </td>
                </tr>
                <tr v-for="(month, i) in simulatedAmortization">
                    <td style="text-align: right; padding-left: 10px;">{{ i+1 }}</td>
                    <td v-if="account.payment < 0 || account.balance > 0"
                        :title="account.name"
                        :style="'text-align: right; padding-left: 10px; background-color:' + account.backgroundColor + ';'"
                        v-for="account in month.simulatedAccounts">
                            <span style="font-size: x-small;">{{ account.name }}</span><br>
                            {{ account.interest | formatDollar }}<br>
                            {{ account.payment | formatDollar }}<br>
                            {{ account.balance | formatDollar }}
                    </td>
                    <td v-else></td>
                    <td style="text-align: right; padding-left: 10px; background-color: darkgray;">
                        <span style="font-size: x-small;">Total</span><br>
                        {{ month.totalInterest | formatDollar }}<br>
                        {{ month.totalPayment | formatDollar }}<br>
                        {{ month.totalBalance | formatDollar }}
                    </td>
                </tr>
            </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Snowball.js"></script>
</body>
</html>