<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debt Snowball Calculator</title>
</head>
<body style="font-family: sans-serif">
    <h1>Debt Snowball Calculator</h1>
    <h2>Accounts</h2>
    <div id="app">
        <table>
            <th>
                <tr>
                    <td style="vertical-align: bottom;">Name</td>
                    <td style="vertical-align: bottom;">Balance</td>
                    <td style="vertical-align: bottom;">Interest<br>Rate</td>
                    <td style="vertical-align: bottom;">Minimum<br>Payment</td>
                    <td style="vertical-align: bottom;">Color</td>
                </tr>
            </th>
            <tr v-for="account in accounts">
                <td><input v-model="account.name"></td>
                <td>
                    <input type="number" step="any" v-model="account.inputBalance" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputInterestRate" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputMinimumPayment" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="color" v-model="account.backgroundColor">
                </td>
                <td>
                    <button v-on:click="removeAccount(account.id)">Remove</button>
                </td>
            </tr>
        </table>
        <button v-on:click="addAccount">Add New Account</button>

        <h2>Budget</h2>
        <table>
            <tr>
                <td>
                    Monthly Budget:
                </td>
                <td>
                    <input type="number" v-model="inputMonthlyBudget" style="width: 75px;">
                    <span style="color: red;">{{ budgetError }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    - Total Minimum Payments:
                </td>
                <td>
                    {{ totalMinimumPayments | formatDollar }}
                </td>
            </tr>

            <tr>
                <td>
                    = Snowball Payment:
                </td>
                <td>
                    {{ monthlySnowballPayment | formatDollar }}
                </td>
            </tr>
        </table>

        <h2>Plan</h2>
        <h3>
            {{ durationDescription }}<br>
            You will pay {{ totalPaid | formatDollar }} including {{ totalInterest | formatDollar }} of interest.
        </h3>
            <table>
                <tr>
                    <td style="text-align: right;">
                        <u style="font-size:large;">Total</u><br>
                        {{ totalBalance | formatDollar }}
                    </td>
                    <td
                        :style="'text-align: right; padding-left: 10px; background-color:' + account.backgroundColor + ';'"
                        v-for="account in sortedAccounts">
                        <u style="font-size: large;">{{ account.name }}</u><br>
                        {{ account.balance | formatDollar }}
                    </td>

                </tr>
                <tr v-for="(month, i) in simulatedAmortization">
                    <td style="text-align: right; padding-left: 10px; white-space: nowrap; background-color: darkgray;">
                        <u style="font-size: large;">Month {{ i + 1 }}</u><br>
                        {{ month.totalInterest | formatDollar }}<br>
                        {{ month.totalPayment | formatDollar }}<br>
                        {{ month.totalBalance | formatDollar }}
                    </td>
                    <td v-if="account.payment < 0 || account.balance > 0"
                        :title="account.name"
                        :style="'text-align: right; padding-left: 10px; white-space: nowrap; background-color:' + account.backgroundColor + ';'"
                        v-for="account in month.simulatedAccounts">
                            <u style="font-size: large;">{{ account.name }}</u><br>
                            {{ account.interest | formatDollar }}<br>
                            {{ account.payment | formatDollar }}<br>
                            {{ account.balance | formatDollar }}
                    </td>
                    <!-- <td v-else></td> -->

                </tr>
            </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Snowball.js"></script>
</body>
</html>