<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debt Snowball Calculator</title>
</head>
<body style="font-family: sans-serif">
    <h1>Private Debt Snowball Calculator</h1>
    <p style="max-width: 500px;">All calculations take place on your own device. None of your data is sent back to any server.</p>
    <p style="max-width: 500px;">
        This tool can be used to make a plan to payoff debt using <a href="https://www.daveramsey.com">Dave Ramsey's</a> debt snowball method. 
        The way it works is similar to a loan amortization schedule for a single account, but allows you to build a plan for all of your debts at the same time.
    </p>
    <h2>Debts</h2>
    <div id="app">
        <table>
            <th>
                <tr>
                    <td style="vertical-align: bottom;">Name</td>
                    <td style="vertical-align: bottom;">Balance</td>
                    <td style="vertical-align: bottom;">Interest<br>Rate</td>
                    <td style="vertical-align: bottom;">Minimum<br>Payment</td>
                    <td style="vertical-align: bottom;">Color</td>
                </tr>
            </th>
            <tr v-for="account in accounts">
                <td><input v-model="account.name"></td>
                <td>
                    <input type="number" step="any" v-model="account.inputBalance" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputInterestRate" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="number" step="any" v-model="account.inputMinimumPayment" style="width: 75px;"><br>
                </td>
                <td>
                    <input type="color" v-model="account.backgroundColor">
                </td>
                <td>
                    <button v-on:click="removeAccount(account.id)">Remove</button>
                </td>
            </tr>
        </table>
        <button v-on:click="addAccount">Add New Account</button>

        <h2>Budget</h2>
        <table>
            <tr>
                <td>
                    Monthly Debt Budget:
                </td>
                <td>
                    <input type="number" v-model="inputMonthlyBudget" style="width: 75px;">
                    <span style="color: red;">{{ budgetError }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    - Total Minimum Payments:
                </td>
                <td>
                    {{ totalMinimumPayments | formatDollar }}
                </td>
            </tr>

            <tr>
                <td>
                    = Snowball Payment:
                </td>
                <td>
                    {{ monthlySnowballPayment | formatDollar }}
                </td>
            </tr>
        </table>

        <h2>Plan</h2>
            <p>{{ durationDescription }}</p>
            <p>You will pay approximately {{ totalPaid | formatDollar }} including {{ totalInterest | formatDollar }} of interest.</p>
            <table>
                <tr>
                    <td style="text-align: right;">
                        <u style="font-size:large;">Total</u><br>
                        {{ totalBalance | formatDollar }}
                    </td>
                    <td
                        :style="'text-align: right; padding-left: 10px; background-color:' + account.backgroundColor + ';'"
                        v-for="account in sortedAccounts">
                        <u style="font-size: large;">{{ account.name }}</u><br>
                        {{ account.balance | formatDollar }}
                    </td>
                    <td>
                        <br>
                        (starting balance)
                    </td>
                </tr>
                <tr v-for="(month, i) in simulatedAmortization">
                    <td style="text-align: right; padding-left: 10px; white-space: nowrap;">
                        <u style="font-size: large;">Month {{ i + 1 }}</u><br>
                        {{ month.totalInterest | formatDollar }}<br>
                        {{ month.totalPayment | formatDollar }}<br>
                        {{ month.totalBalance | formatDollar }}
                    </td>
                    <td v-if="account.payment < 0 || account.balance > 0"
                        :title="account.name"
                        :style="'text-align: right; padding-left: 10px; white-space: nowrap; background-color:' + account.backgroundColor + ';'"
                        v-for="account in month.simulatedAccounts">
                            <u style="font-size: large;">{{ account.name }}</u><br>
                            {{ account.interest | formatDollar }}<br>
                            
                            <span v-if="-1 * account.payment > account.minimumPayment" title="Snowball Payment"><b>{{ account.payment | formatDollar }}</b><br></span>
                            <span v-else>{{ account.payment | formatDollar }}<br></span>

                            <span v-if="account.balance <= 0">&#9989;&nbsp;&#127881;&nbsp;</span>{{ account.balance | formatDollar }}
                    </td>
                    <td v-if="i === 0" style="white-space: nowrap;">
                        <br>
                        (interest)<br>
                        (payment)<br>
                        (new balance)
                    </td>

                </tr>
            </table>

            <p style="font-size: small;">
                Created by <a href="https://github.com/dfcowan/Snowball">Drew Cowan</a> &copy;&nbsp;2020
            </p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Snowball.js"></script>
</body>
</html>